<h1>All Posts</h1>

<% @posts.each do |post| %>
    <div class="post">
        <h3><%= post.title %></h3>
        <p><%= post.content %></p>
        <%if user_signed_in?%>
            <p>Posted by: <%= post.user.username%> </p>
            <%= link_to "Show", post_path(post) %>
            <br>
        <%end%>
    </div>
<% end %>

<% if user_signed_in? %>
    <%= link_to "New Post", new_post_path %>
<% end %>
